<div class="fila">
    <a href="#/" data-ng-click="hc.cambio('ini')">
        <div class="columna-3-0 cabecera-titulo clarear">
            SeriesAngular
        </div>
    </a>
    <div class="columna-6-0">
        <ul class="lista-horizontal cabecera-menu">
            <li data-ng-class="{marca: hc.ini, libre:!hc.ini}">
                <a href="#/" data-ng-click="hc.cambio('ini')">inicio</a>
            </li>
            <li data-ng-class="{marca: hc.ser, libre:!hc.ser, oculto: hc.inactivo}">
                <a href="#/series" data-ng-click="hc.cambio('ser')">series</a>
            </li>
            <li data-ng-class="{marca: hc.rec, libre:!hc.rec, oculto: hc.inactivo}">
                <a href="#/perfil/{{hc.iduser}}" data-ng-click="hc.cambio('rec')">perfil</a>
            </li>
        </ul>
    </div>
    <div class="columna-3-0">
        <div class="cabecera-boton clarear" data-ng-click="hc.loginOpen()" data-ng-class="{oculto: !hc.inactivo}">
            <span class="inactivo">
                <i class="fa fa-sign-in" aria-hidden="true"> </i> Login
            </span>
        </div>
        <div class="cabecera-boton alerta-good clarear" data-ng-click="hc.registerOpen()" data-ng-class="{oculto: !hc.inactivo}">
            <span class="inactivo">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> </i> Register
            </span>
        </div>
    </div>
</div>