<div class="modal" data-ng-class="{oculto: !hc.login, visible: hc.login}">
    <div class="panel">
        <div class="panel-title">
            Login
        </div>
        <div class="panel-body">
            <form name="loginForm" novalidate>
                <div class="fila">
                    <div class="columna-3-3 padding-top-10">
                        <label>User: </label>
                    </div>
                    <div class="columna-6-0">
                        <input name="nom" type="text" data-ng-model="hc.user.username" data-ng-class="{'input-warning': hc.nomError}" required />
                    </div>
                </div>
                <div class="fila">
                    <div class="columna-3-3 padding-top-10">
                        <label>Password: </label>
                    </div>
                    <div class="columna-6-0">
                        <input name="pas" type="password" data-ng-model="hc.user.password" data-ng-class="{'input-warning': hc.pasError}" required />
                    </div>
                </div>
                <div class="fila">
                    <div class="columna-3-4">
                        <input type="submit" class="alerta" ng-click="hc.loginDo()" value="Login" />
                    </div>
                    <div class="columna-3-0">
                        <input type="button" class="alerta alerta-warning" ng-click="hc.loginClose()" value="Cancelar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>