<div class="modal" data-ng-class="{oculto: !hc.register, visible: hc.register}">
    <div class="panel">
        <div class="panel-title">
            Register
        </div>
        <div class="panel-body">
            <form name="registerForm" novalidate>
                <div class="fila">
                    <div class="columna-3-3 padding-top-10">
                        <label>Email: </label>
                    </div>
                    <div class="columna-6-0">
                        <input name="ema" type="text" data-ng-model="hc.user.email" data-ng-class="{'input-warning': hc.emaError}" required />
                    </div>
                </div>
                <div class="fila">
                    <div class="columna-3-3 padding-top-10">
                        <label>Password: </label>
                    </div>
                    <div class="columna-6-0">
                        <input name="pas" type="password" data-ng-model="hc.user.password" data-ng-class="{'input-warning': hc.pasError}" required />
                    </div>
                </div>
                <div class="fila">
                    <div class="columna-3-3 padding-top-10">
                        <label>Nombre: </label>
                    </div>
                    <div class="columna-6-0">
                        <input name="ema" type="text" data-ng-model="hc.user.username" data-ng-class="{'input-warning': hc.nomError}" required />
                    </div>
                </div>
                <div class="fila">
                    <div class="columna-3-3 padding-top-10">
                        <label>Pais: </label>
                    </div>
                    <div class="columna-6-0">
                        <input name="pai" type="text" data-ng-model="hc.user.country" data-ng-class="{'input-warning': hc.paiError}" required />
                    </div>
                </div>
                <div class="fila">
                    <div class="columna-3-4">
                        <input type="submit" class="alerta" ng-click="hc.registerDo()" value="Registrar" />
                    </div>
                    <div class="columna-3-0">
                        <input type="button" class="alerta alerta-warning" ng-click="hc.registerClose()" value="Cancelar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>