<div class="fila">
    <div class="columna-8-1">
        <div class="panel">
            <h2>Series</h2>
            <div class="galeria" data-st-pipe="ctr.cargarDatos" data-st-table="ctr.cursos">
                <div data-ng-repeat="serie in ctr.series" class="img-vertical center">
                    <div data-ng-click="ctr.verSerie(serie.Id)">
                        <div class="img-descripcion">
                            <div class="inactivo">
                                <h3 data-ng-bind="::serie.Nombre"></h3>
                                <p data-ng-bind="::serie.Puntuacion"> </p>
                            </div>
                        </div>
                        <img data-ng-src="{{serie.Imagen}}" width="200" height="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columna-3-0">
        <div class="panel">
            <h2>
                Categorias
            </h2>
            <ul class="lista-ul">
                <li>
                    Accion
                </li>
                <li>
                    Drama
                </li>
                <li>
                    Ciencia Ficcion
                </li>
                <li>
                    Belico
                </li>
                <li>
                    Romance
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal text-center" data-ng-class="{visible: ctr.cargando, oculto: !ctr.cargando}">
    <div class="cargando margin-top-15">
        <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
        <span>Cargando</span>
    </div>
</div>
