<div class="fila">
    <div class="columna-8-1">
        <div class="panel">
            <div class="panel-title">Series</div>
            <table class="galeria" data-st-pipe="ctr.cargarDatos" data-st-table="ctr.series">
                <div data-ng-repeat="serie in ctr.series" class="center img-tam-fijo">
                    <div data-ng-click="ctr.verSerie(serie.idserie)">
                        <div class="img-descripcion">
                            <div class="inactivo">
                                <h3 data-ng-bind="::serie.seriename"></h3>
                                <p data-ng-bind="::serie.score"> </p>
                            </div>
                        </div>
                        <img data-ng-src="{{serie.image}}" width="200" height="250" />
                    </div>
                </div>
            </table>
        </div>
    </div>
    <div class="columna-3-0">
        <div class="panel">
            <div class="panel-title">
                Categorias
            </div>
            <ul class="lista-ul">
                <li>
                    Accion
                </li>
                <li>
                    Drama
                </li>
                <li>
                    Ciencia Ficcion
                </li>
                <li>
                    Belico
                </li>
                <li>
                    Romance
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal text-center" data-ng-class="{visible: ctr.load, oculto: !ctr.load}">
    <div class="cargando margin-top-15">
        <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
        <span>Cargando</span>
    </div>
</div>
