/*
	fondo:#f1f2eb;
	letra:#011826;
	linea:#03658c;
	sombra:#049dbf;
	borde:#023859;
    warning: #F11D23;
*/
body{
	margin: 0;
	color:#011826;
	font-family: 'Roboto';
}
a{
	text-decoration: none;
	color:#011826;
}
img{
    vertical-align: middle;
    border: 0;
}
.derecha{
    float: right !important;
}
.no-seleccionable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none !important;
}
.textarea-fijo {
    resize: none;
    padding: 5px;
    margin:0;
    width: 100%;
    box-sizing: border-box;
}
.inactivo{
    pointer-events: none !important;
}
.cabecera{
	padding: 5px 0px 5px 0vw;
	background-color: #f1f2eb;
	border-bottom: 1px solid #03658c;
	position: fixed;
	z-index: 2;
	min-width: 100vw;
	top: 0;
	box-shadow: 0px 2px 9px 0px #049dbf;
    text-align: center;
}
.cabecera-titulo{
	margin: 0px;
    -webkit-margin-before: 0.2em;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 1px 2px #049dbf;
}
.cabecera-menu > ul{
	margin: 0px;
}
.cabecera-boton{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.tabla{
    width: 90%;
    margin: 5px 5% 25px 5%;
	box-shadow: 0px 2px 2px 0px #049dbf;
	border: 1px solid #03658c;
	border-radius: 0px;
    border-collapse: collapse;
}
.tabla > thead{
    background-color: #03658c;
	color: #f1f2eb;
    border-bottom: 3px solid #03658c;
}
.tabla tbody > tr:nth-child(odd) {
  background-color: #92CDCF;
}
.tabla tbody > tr:nth-child(even) {
  background-color: #C4D7ED;
}
.tabla tbody > tr{
    height: 40px;
}

.libre{
	transition: border linear 0.1s;
}
.libre:hover{
	border-bottom: 2px solid #049dbf;
}
.marca{
	border-bottom: 2px solid #03658c;
}
.cuerpo, .modal{
	min-height: 83vh;
	padding-top: 14vh;
}
.fila{
	display: table;
    width: 100%;
}
/* ---- COLUMNA ---- */
.columna-3-0, .columna-3-3, .columna-6-0, .columna-6-3, .columna-9-3, .columna-8-0, .columna-8-1, .columna-8-2,.columna-8-3, .columna-3-4, .columna-9-0{
	float: left;
	clear: right;
}

/* ---- COL TAM ---- */
.columna-2-5{
    width: 16.67%;
}
.columna-3-0, .columna-3-3, .columna-3-4, .columna-3-5{
	width: 25%;
}
.columna-6-0, .columna-6-3{
	width: 50%;
}
.columna-8-0, .columna-8-1, .columna-8-2, .columna-8-3{
	width: 66.67%;
}
.columna-9-0, .columna-9-3, .columna-9-2{
	width: 75%;
}
/* ---- COL MAR ---- */
.columna-8-1{
    margin-left: 8.33%
}
.columna-8-2,.columna-9-2{
	margin-left: 16.67%;
}
.columna-6-3, .columna-3-3, .columna-8-3, .columna-9-3{
	margin-left: 25%;
}
.columna-3-4{
    margin-left: 33.33%;
}
.columna-2-5, .columna-3-5{
    margin-left: 41.67%;
}
.lista-ul{
	list-style: none;
	padding: 0;
	margin: 2vh 2vw 2vh 2vw;
}
.lista-ul > li{
	padding: 3px;
}
.galeria{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
}
.img-redonda, .img-cuadrada, .img-vertical{
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
	box-shadow: 0px 2px 2px 0px #049dbf;
	border: 1px solid #03658c;
	margin: 1vh 1vw 1vh 1vw;
	background-color: #fff;
    overflow: hidden;
}
.img-redonda{
    padding: 0;
	border-radius: 100%;
}
.img-cuadrada, .img-vertical{
    padding: 1vh 0.5vw 1vh 0.5vw;
	border-radius: 0px;	
}
.img-descripcion{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 101, 140, 0.7);;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    color: #f1f2eb;
    transition: all 0.3s linear;
    overflow: hidden;
}
.img-descripcion:hover{
    opacity: 1;
}
.img-descripcion div:first-child{
    margin: 25% 10% 25% 10%;
    height: 50%;
    border: 1px solid #f1f2eb;
    padding: 2%;
}
.img-descripcion h3{
    display: block;
}
.img-descripcion p{
    display: block;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 25vh;
}
.panel, .alerta, .cargando{
	margin: 0vh 1vw 2vh 1vw;
	box-shadow: 0px 2px 2px 0px #049dbf;
	border: 1px solid #03658c;
	border-radius: 0px;
}
.panel{
    border: 1px solid #03658c;
    box-shadow: 0px 2px 2px 0px #666;
    background-color: #f1f2eb;
}
.boton, .cabecera-boton{
    display: inline-block;
    padding: 3px 10% 3px 10%;
    box-shadow: 0px 2px 2px 0px #049dbf;
	border: 1px solid #03658c;
	border-radius: 0px;
    margin-top: 20px;
}
.input-warning{
    border-color: #F11D23 !important;
}
.input-warning:focus{
    outline: none !important;
    border-color: #F11D23 !important;
	box-shadow: 0px 0px 1px 0px #F11D23 !important;
}
.file{
    position: relative;
    font-size: 16px !important;
}
.file > div:hover{
    opacity: 1;
}
.file > input{
    position: absolute;
    top: 0;
    margin: 0!important;
    width: 100%!important;
    height: 100%!important;
    left: 0;
    padding: 0px !important;
    opacity: 0 !important;
    box-sizing: border-box !important;
}
.panel input{
    display: block;
    border: 1px solid #03658c;
	border-radius: 0px;
    padding: 5px;
    width: auto;
    margin: 5px 5px 5px 10px; 
}
.panel input[type="submit"],.panel input[type="button"]{
    width: 10vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    border: 0px;
}
.panel-title{
	background-color:#03658c;
	margin: 0px;
	padding: 10px;
	color:#f1f2eb;
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 3vh;
}
.panel-title > h3{
	float: right;
	color:#f1f2eb;
	margin: 0px;
	padding: 10px;
}
.panel-title > h4{
	padding-left: 20px;
	margin-bottom: 0px;
}
.panel > p, .panel-body{
	font-size: 14px;
	padding: 0vh 1vw 4vh 1vw;
}
.form-text{
    width: 100%;
    display: block;
    padding: 0;
    box-sizing: border-box;
}
.form-text span{
    padding: 0;
    margin: 0;
    display: block;
}
.form-text input{
    padding: 3px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.alerta, .cabecera-boton, .cargando{
	background-color: #011826;
	color: #f1f2eb;
	transition: opacity linear 0.2s;
}
.alerta-warning{
    background-color: #430003;
	box-shadow: 0px 2px 2px 0px #F11D23;
    border-color: #430003;
}
.alerta-good{
    background-color: #7d9100;
	box-shadow: 0px 2px 2px 0px #85DB18;
    border-color: #8ea106;
}
.alerta-sad{
    background-color: #aaaaaa;
	box-shadow: 0px 2px 2px 0px #777777;
    border-color: #aaaaaa;
}
.alerta-clockwork{
    background-color: #FD7400;
	box-shadow: 0px 2px 2px 0px #FF2D00;
    border-color: #FF8C00;
}
.clarear{
    transition: opacity linear 0.2s;
}
.enlace-destacado a{
	transition: opacity linear 0.2s;
	color: #03658c;
}
.alerta:hover, .enlace-destacado a, .clarear:hover, .boton:hover{
	opacity: 0.8;
}
.text-center{
	text-align: center;
}
.pie{
	background-color: #011826;
	color: #f1f2eb;
	font-size: 11px;
	text-align: center;
	height: 3vh;
}
.pie > ul{
	padding-top: 0.5vh;
	margin: 0;
}
.cargando{
    display: inline-block;
    z-index: 2;
    padding: 10px;
}
.cargando > p{
    margin: 0;
}
.texto-fino{
	font-weight: 300;
}
.datos{
	display: inline-block;
}
.mapa{
	float: right;
	margin: 1vh 1vw 2vh 1vw;
	box-shadow: 0px 2px 2px 0px #049dbf;
	border: 1px solid #03658c;
	background-color: #f1f2eb;
	border-radius: 0px;
	padding: 1px;
}
.text-center{
    text-align: center;
}
.margin-top-5{
    margin-top: 5vh; 
}
.margin-top-15{
    margin-top: 15vh; 
}
.lista-horizontal li{
	display: inline-block;
	padding: 0px 2vw 0px 2vw;
}
.oculto{ 
    display: none !important;
    opacity: 0;
}
.visible{
    display: block !important;
    opacity: 1;
}
.padding-top-10{
    padding-top: 10px;
}
@media (max-width:769px){
	.panel p, .panel ul{
		font-size: 9px;
	}
	.panel ul{
		overflow-x: hidden;
	}
	.cabecera{
		text-align: center;
		padding-left: 0px;
	}
	.titulo{
		display: block;
	}
	.menu{
		display: block;
		margin-left: 0px;
	}
	.menu ul{
		padding-left: 0px;
	}
	.cuerpo{
		padding-top: 100px;
		min-height: 0px;
	}
	.pie{
		display: none;
	}
	.mapa{
		display: none;
	}
		/* ---- COL TAM ---- */
	.columna-3-0, .columna-3-3{
		width: 35vw;
	}
	.columna-6-0, .columna-6-3{
		width: 65vw;
	}
	/* ---- COL MAR ---- */
	.columna-6-3, .columna-3-3, .columna-8-3, .columna-9-3{
		margin-left: 17.5vw;
	}
	.img-cuadrada img, .img-redonda img{
		width: 26vw;
		height: 26vw;
	}
	.columna-8-2,.columna-9-2{
		margin-left: 16vw;
	}
}
