<div class="fila">
    <div class="columna-3-0">
        <form novalidate>
            <div class="panel">
                <div class="panel-title">
                    <div class="form-text">
                        <span>Perfil</span>
                        <input type="text" style="font-size: 16px" data-ng-model="ctr.user.username" data-ng-change="ctr.active()"/>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="img-vertical">
                        <img id="img" data-ng-src="{{ctr.user.profile}}"/>
                    </div>
                    <div class="file clarear">
                        <div class="alerta text-center"> Cambiar avatar </div>
                        <input type="file" onchange="angular.element(this).scope().ctr.upFile(this)" />
                        <output id="list"></output>
                    </div>
                    <div class="fila">
                        <div class="columna-6-0">
                            <div class="alerta alerta-good text-center oculto" id="guardar" data-ng-click="ctr.save()">
                                <span class="inactivo"> Guardar </span>
                            </div>
                        </div>
                        <div class="columna-6-0">
                            <div class="alerta alerta-warning text-center oculto" id="cancelar" data-ng-click="ctr.cancel()">
                                <span class="inactivo"> Cancelar </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="columna-6-0">
        <div class="panel">
            <div class="panel-title">
                Series
            </div>
            <div class="galeria panel-body text-center" style="min-height:200px;">
                <div data-ng-repeat="serie in ctr.user.series" class="img-tam-fijo">
                    <div data-ng-click="ctr.verSerie(serie.idserie)">
                        <div class="img-descripcion">
                            <div class="inactivo">
                                <h3 data-ng-bind="::serie.seriename"></h3>
                                <p data-ng-bind="::serie.score"> </p>
                            </div>
                        </div>
                        <img data-ng-src="{{serie.image}}" width="200" height="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal text-center" data-ng-class="{visible: ctr.load, oculto: !ctr.load}">
    <div class="cargando margin-top-15">
        <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
        <span id="msg">Cargando</span>
    </div>
</div>
